
.button {
    -fx-text-fill: white;
    -fx-background-color: #800000;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
	-fx-background-color: #CD2E57;
}

.button:pressed {
	-fx-background-color: #B90000;
}

.combo-box
{
    -fx-background-color: #CD2E57;
}  

.combo-box :pressed
{
    -fx-background-color: #800000;
}  

.combo-box .list-cell
{
	-fx-font-family: "Malgun Gothic";
    -fx-font-weight: bold;
    -fx-alignment: CENTER; 
    -fx-font-size: 12pt;
	-fx-text-fill: #CD2E57;
    -fx-background-color: white;
}   

.combo-box .list-cell:hover
{
	-fx-background-color: #FAFAA0;
}



#passLabel {
	-fx-text-fill: #CD2E57;
    -fx-font-size: 20;
}

#mainTextLabel {
    -fx-background-color: #800000;
    -fx-text-fill: white;
	-fx-font-family: "Malgun Gothic";
    -fx-font-weight: bold;
    -fx-font-size: 20;
 
}

#forTheFutureLabel2 {
	-fx-text-fill: #F56E6E;
	-fx-font-family: "Malgun Gothic";
	-fx-font-weight: bold;
    -fx-font-size: 12;
}

#englishNameLabel {
	-fx-text-fill: #FFA0A0;
	-fx-font-family: "Malgun Gothic";
    -fx-font-size: 13;
}

#userId:focused{
     -fx-focus-color : red;
 }
 
#userPassword:focused{
     -fx-focus-color : red;
 }
 
 




