
.button {
    -fx-text-fill: white;
    -fx-background-color: #800000;
}

.button:hover {
	-fx-background-color: #CD2E57;
}

.button:pressed {
	-fx-background-color: #B90000;
}

.label {
    -fx-font-size: 14.0;
    -fx-font-family: "Malgun Gothic";
}

.combo-box
{
    -fx-background-color: #CD2E57;
 
}   

.combo-box .list-cell
{
	-fx-text-fill: white;
    -fx-background-color: #CD2E57;
    
}    

.table-view {
    -fx-base: #CD2E57;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-table-cell-border-color: white;
    -fx-table-header-border-color: white;
    -fx-padding: 5;
    -fx-font-size: 11.0pt;
    -fx-font-family: "Malgun Gothic";
    -fx-font-weight: bold;
    -fx-alignment: CENTER; 
}

.table-view .column-header-background {
    -fx-background-color: #CD2E57;
}

.table-view .column-header, .table-view .filler {
    
    -fx-size: 11pt;
    -fx-background-color: transparent;
    -fx-border-color:
        #CD2E57
        #CD2E57
        derive(-fx-base, 60%)
        #CD2E57;
    -fx-border-width: 0 1 0 0;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
	-fx-padding: 5;
    -fx-font-size: 11pt;
    -fx-font-family: "Malgun Gothic";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: CENTER; 
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #86A5FF;
}

.table-row-cell {
	-fx-background-color: white;
} 



#mainTextLabel {
	-fx-text-fill: #800000;
	-fx-font-size: 35.0;
}

#exampleLabel {
	-fx-text-fill: #a0a0a0;
	-fx-font-size: 14.0;
}


#memberNameText:focused {
     -fx-focus-color : red;
 }
 
#memberBirthText:focused {
     -fx-focus-color : red;
 }

#resultLabel {
	-fx-font-weight: bold;
}


